.img-box {
  width: 50%;
  position: absolute;
  top: 0;
  left: 58%;
}

.hero__container img {
  width: 450px;
  height: 450px;
  object-fit: contain;
  border-radius: 30px;
  /* for timing */
  transition: 0.3s ease-out;
}

.hero__container img:hover {
  transform: scale(1.2);
}

// testimonial img
.testim__img__box {
  width: 100%;
}
