/* Features section */

.features__section {
  margin-bottom: 100px;
}
.features__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include respond(small-tab-port) {
    flex-direction: column;
  }
}

.features__item:hover {
  border-radius: 13px;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.07);
}

.features__section h2 {
  font-size: 34px;
  margin-bottom: 40px;
  transform: skew(-28deg, 0deg);

  @include respond(small-tab-port) {
    text-align: center;
  }
}

.features__container img {
  width: 100%;
  max-width: 250px;
  border-radius: 20px;
  margin-bottom: 24px;
}

.features__item {
  @include respond(small-tab-port) {
    margin-bottom: 2rem;
  }
}

.features__item:nth-child(2) img {
  transform: rotate(179deg);
}

.features__item:last-child img {
  width: 120px;
}

/* counting from the last child */
.features__item:nth-last-child(2) {
  color: red;
}

.features__container h3 {
  margin-bottom: 14px;
}

.features__container ul {
  margin: 0 0 15px 20px;
}

.features__container li {
  display: flex;
  list-style: none;
  gap: 10px;
}

.features__container .buy {
  display: flex;
  align-items: center;
  margin-left: 10px;
  gap: 10px;
  padding-bottom: 20px;
  transform: translate(10px, 10px);
}

.features__container .buy a {
  text-decoration: none;
}
